@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
:root {
  --border-color: #e3e5e4;
  --background-color: #c3c7ca;
  --text-color: #000000;
}
*{
  box-sizing: boarder=box;
}

body {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.draggable-list {
  border: 1px solid var(--border-color);
  color: var(--text-color);
  padding: 0;
  list-style-type: none;
}

.draggable-list li {
  background-color: #fff;
  display: flex;
  flex: 1;
}

.draggable-list li.over .draggable{
  background-color: #eaeaea;
}

.draggable-list li:not(:last-of-type) {

  border-bottom: 1px solid(var(--border-color))
}

.draggable-list .number{
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  height: 60px;
  width: 60px;
}

.draggable-list .item-name{
  margin: 0 20px 0 0;
}

.draggable-list li.correct .item-name{
  color: #3ae374;
}

.draggable-list li.incorrect .item-name{
  color: #ff3838;
}
.draggable {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  flex: 1;
}

.check-btn{
  background-color: var(--background-color);
  border: none;
  color: var(--text-color);
  font-size: 16px;
  padding: 10px 20px;
  cursor: point;
}

.check-btn:active {
  transform: scale(0.98);
}


.check-btn:focus {
  outline: none;
}

.reset-btn{
  color: #ff3838;
  margin-top: 10px;
  cursor: point;
}

.reset-btn:active {
  transform: scale(0.98);
}


.reset-btn:focus {
  outline: none;
}
/*the background stuff from https://codepen.io/chris22smith/pen/RZogMa */
.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

.content {
  background-color:rgba(255,255,255,.8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  left:50%;
  padding:10vmin;
  position:fixed;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
}

h1 {
  font-family:monospace;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}